/*Main*/
html,body {height: 100%; color: #444; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;}
body {margin-top: 60px; min-width:320px;}
a {color: #006281; text-decoration: none;  transition: color 0.5s ease 0s;}
a:hover, a:active {color: #1cb5d8;}
img {vertical-align: top;}
h1, h2, h3, h4 {font-weight: 300;}
strong {font-weight: 400;}

/*Page layout*/
.header {position: fixed; top: 0; right: 0; left: 0; z-index: 1030;	height: 56px; padding: 0; background-color: #313D48;
	border-bottom: #4399BC 1px solid;}
.header-exp {position: fixed; top: 0; right: 0; bottom:0; left: 0; z-index: 1030;
	padding: 0; background: rgba(27,41,53,.9);}
.footer-wrapper { background-color: #FAFAFA; border-top: #EEE 1px solid; padding-top: 30px;}
.footer {padding: 20px; text-align: center; color: #ffffff; background-color: #313D48; border-top: #0099CC 2px solid;}

.container-fluid {padding-left: 0; padding-right: 0;}
.row {margin-left: 0; margin-right: 0;}
.m-top {padding-top: 2rem;}
.hide {display: none !important;}

/*Element layout*/
.logo a {display: inline-block; width: 36px; height: 56px; padding: 12px 0; text-decoration: none;}
.logo-img {display: inline-block; width: 36px; height: 32px; background: url('/images/icons.svg') -260px 0 no-repeat; background-size: 296px 34px;}
.categories {list-style-type: none; margin: 0; padding: 0;}
.categories .m-item {color: #fff; text-transform: uppercase; text-decoration: none;}
.categories-menu li {float: left;}
.categories-menu .m-item {display: inline-block; height: 56px; padding: 18px 8px; 
	background-color: transparent; transition: background-color 0.5s ease;}
.categories-menu .m-item:hover, .categories-menu .m-item:active, .categories-menu .active {background-color: #14232f;}
.menu-btn {display: inline-block; width: 38px; height: 56px; padding: 15px 6px; float: right; cursor: pointer;}
.menu-icon {display: inline-block; width: 26px; height: 26px; background: url('/images/icons.svg') 0 0 no-repeat; background-size: 296px 34px;}
.categories-dropdown {background-color: #14232f;}
.categories-dropdown .m-item {display: block; position: relative; font-size: .8125rem; padding: 15px;}
.categories-dropdown .active {color: #1cb5d8;}
.categories-dropdown li {border-bottom: 1px solid #5e6975;}
.categories-dropdown li:last-child {border-bottom: none;}
.inactive-category {color: #ccc;}
.tags-menu {position: fixed; top: 56px; right: 0; left: 0; z-index: 1030; height: 2rem; overflow: hidden; 
	text-align:center; background: rgba(20,35,47,1.0);}
.tags-menu a {color: #fff; font-size: 0.8125rem; text-transform: uppercase; line-height: 2rem; padding: 0.5rem;	transition: color 0.5s ease 0s;}
.tags-menu a:hover, .tags-menu a:active, .tags-menu .active {color: #1cb5d8;}
.tags-dropdown {margin: -10px 0 12px 30px;}
.tags-dropdown a {display: block; position: relative; color: #fff; padding: 8px; transition: color 0.5s ease 0s;}
.tags-dropdown a:hover {color: #1cb5d8;}
.search-inline {padding: 12px 20px;}
.sform {display: block; position: relative; width: 100%;}
.sform-input {display: block; width: 100%; height: 30px; color: inherit; 
	padding: 1px 60px 1px 10px; border: 0; border-radius: 20px; font-size: 0.9rem; box-shadow: 0 0 0; border-color: #ccc;}
.sform-btn {display: block; position: absolute; top: 0; right: 0; width: 50px; height: 30px; 
	border: 1px #FFF solid; border-radius: 0 20px 20px 0; background-color: #006281;}
.sform-icon {display: inline-block;  width: 26px; height: 26px; margin:1px 3px; background: url('/images/icons.svg') -26px 0 no-repeat;
	 background-size: 296px 34px;}
.search-btn {display: inline-block; width: 38px; height: 56px; padding: 15px 6px; cursor: pointer;}
.search-icon {display: inline-block; width: 26px; height: 26px; background: url('/images/icons.svg') -26px 0 no-repeat; background-size: 296px 34px;}
.search-dropdown {background-color: #14232f; padding: 20px 50px;}
.h-btn {display: inline-block; width: 40px; height: 56px; padding: 12px 4px;}
.h-youtube-icon {display: inline-block; width: 32px; height: 32px; background: url('/images/icons.svg') -52px 0 no-repeat; background-size: 296px 34px;}
.h-htc-icon {display: inline-block; width: 32px; height: 32px; background: url('/images/icons.svg') -84px 0 no-repeat; background-size: 296px 34px;}
.b-btn {display: inline-block; width: 36px; height: 36px;  margin-right: 10px;}
.b-youtube-icon {display: inline-block; width: 36px; height: 34px; background: url('/images/icons.svg') -116px 0 no-repeat; background-size: 296px 34px;}
.b-htc-icon {display: inline-block; width: 36px; height: 34px; background: url('/images/icons.svg') -152px 0 no-repeat; background-size: 296px 34px;}
.breadcrumbs-wrapper {position: relative; height: 36px; overflow: hidden;}
.breadcrumbs-wrapper:before {content: ""; width: 40px; height:100%; position:absolute; right: 0; top: 0; z-index: 1;
	background: #fff; background: linear-gradient(to right, transparent, #fff);}
.breadcrumb {padding: 8px 15px; margin: 0; list-style: none;}
.breadcrumb li {display: inline-block;}
.breadcrumb .active { color: #777;}
.breadcrumb li + li:before {padding: 0 5px; color: #ccc; content: "/\00a0";}
.blog-slider-wrapper, .content-title-wrapper {display: block; position: relative; background-color: #FAFAFA; 
	border-top: #F0F0F0 1px solid;  border-bottom: #F0F0F0 1px solid; margin-top: 10px; margin-bottom: 20px; padding: 0.625rem 1.25rem;}
.blog-slider-wrapper {height: 15rem;}
.content-title-wrapper {text-align: center; padding-top: 20px; padding-bottom: 20px; border-bottom-width: 0; }
.blog-slider-cover {height: 200px; padding: 85px 15px;}
.blog-slider {}
.blog-slider-content {padding-right: 40px; color: #848484;}
.blog-slider-img {margin: 0.625rem 1.875rem 0.625rem 0.125rem; float: left;}
.blog-slider-title {text-align: center; font-size :1.3rem; line-height: 1.5rem; margin-top: 0.8rem; margin-bottom: 1.2rem;}
.blog-slider-intro, .blog-intro {font-size :1rem; line-height: 1.5rem;}
.blog-slider-intro {height: 9.5rem; overflow: hidden;}
.posts-slider {min-height: 200px; padding: 0; background-color: #FAFAFA;}
.posts-slider-content {padding: 0 40px;}
.posts-slider .slick-slide {padding: 5px 15px;}
.slider-prev:before, .slider-prev:after {content: ""; position: absolute; right: 12px; top: auto; margin-top: -15px;
	border: 15px solid transparent; border-right: 15px solid #A9A7A8;}
.slider-prev:after {border-right: 15px solid #FCFAF3; right: 10px;}
.slider-next:before, .slider-next:after {content: ""; position: absolute; left: 12px; top: auto; margin-top: -15px;
	border: 15px solid transparent; border-left: 15px solid #A9A7A8;}
.slider-next:after {border-left: 15px solid #FAFAFA; left: 10px;}
.blog-intro {height: 7.25rem; overflow: hidden;}
.pagination-container {text-align: center;}
.pagination {display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px;}
.pagination li {display: inline;}
.pagination li a, .pagination li span {position: relative; float: left; padding: 6px 12px; margin-left: -1px;
	line-height: 1.42857143; text-decoration: none; background-color: #fff; border: 1px solid #ddd;}
.pagination li:first-child a, .pagination li:first-child span {margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.pagination li:last-child a, .pagination li:last-child span {border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.pagination li span:hover, .pagination li span:focus,
.pagination li a:hover, .pagination li a:focus, {z-index: 2; color: #006281; background-color: #eee;}
.pagination .active a, .pagination .active span {z-index: 3; cursor: default; color: #fff; background-color: #1cb5d8; border-color: #1cb5d8;}
.pagination .active a:hover, .pagination .active a:focus, .pagination .active span:hover, .pagination .active span:focus {
	background-color: #006281; color: #fff;}
.pagination .disabled span, .pagination .disabled span:hover, .pagination .disabled span:focus,
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {color: #777; cursor: not-allowed;}

.pagination-sm li a, .pagination-sm li span {padding: 5px 10px; font-size: 12px; line-height: 1.5;}
.pagination-sm li:first-child a, .pagination-sm li:first-child span {border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.pagination-sm li:last-child a, .pagination-sm li:last-child span {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}


/*Content*/
.content-title {margin: 0 0 20px; font-size: 42px;}
.suph1 {color: #BBB;}
.item-title {font-size: 32px; display: inline-block; position: relative; z-index: 1; margin-top: 20px; margin-bottom: 10px; 
	padding-left: 30px;}
.item-title:before {content: ""; position: absolute; left: 10px; top: 0; width: 36px; height: 36px; z-index: -1; 
	background: #DCEBF2 none repeat scroll 0% 0%;}
.post, .post-comments, .item {margin-bottom: 20px;}
.intro, .post .section, .post-comments .section {margin-bottom: 20px;}
.section-image {text-align: center;}
.section-image img {margin: 20px 0;}
.section a, .comment a {text-decoration: underline;}
.section ol {list-style-type: none; counter-reset: num; }
.section ol li {margin: 12px 0; padding: 0 0 5px 9px; border-left: #1cb5d8 3px solid;}
.section ol li:before {content: counter(num); counter-increment: num; color: #888; font-size: 21px; font-weight: 400; 
	padding: 0 15px; margin: 0 5px 0 -47px;}
.item-nav-sp {height: 1px; width: 225px}
.video-btn {display: inline-block; margin-left: 10px;}
.video-icon {display: inline-block; width: 36px; height: 26px; vertical-align: middle; background: url('/images/icons.svg') -188px 0 no-repeat; 
	background-size: 296px 34px;}
.video-icon:hover, .video-icon:active {background: url('/images/icons.svg') -224px 0 no-repeat;}
.post-nav, .item-nav {padding: 10px; background-color: #F4F4F4;}
.video-frame {text-align: center;}
.video-frame iframe {border-left: #313D48 50px solid; border-right: #313D48 50px solid;}
.s-title {margin: 20px 0; font-size: 1.75rem; line-height: 2.5rem;}
.s-title:after {content: ""; display: block; width: 50px; border-top: #1cb5d8 2px solid;}
.cform {margin: 20px 20px 40px; max-width: 600px;}
.form-group {margin-bottom: 15px;}
.form-group textarea {height: auto;}
.form-control {display: block; width: 100%; height: 34px; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #555;
	background-color: #F8F8F8; border: 1px solid #E8E8E8; border-radius: 0; transition: all ease-in-out .15s;}
.form-control:focus {background-color: #fff; border-color: #80bdff; outline: 0;}
.control-label {display: block; margin-bottom: 5px; font-weight: 300;}
.help-block {display: block; margin-top: 5px; margin-bottom: 10px; color: #737373;}
.field-comment-verifycode input {display: inline-block; width: 150px; height: 34px; color: #555; margin: 0 10px; }
.v-code {float: left; width: 100px; margin: 4px 0;}
.v-code .fld {background: #000;}
.v-code .chr {border-collapse: collapse; float: left; margin: 2px;}
.v-code .chr td {width: 3px; height: 3px; padding: 0px; border: 1px solid #F2F2F2;}
.btn-submit {font-size: 1rem; padding: 6px 20px; color: #FFF; background-color: #1cb5d8; border-width: 0; border-radius: 20px;
	transition: background-color 0.5s ease-out 0s;}
.btn-submit:hover {background-color: #006281;}
.comment-wrap {margin: 20px 30px;}
.cid {float: left; width: 50px; vertical-align: top; padding: 3px 5px; font-size: 1.1em; text-align: right;}
.cid a {text-decoration: none; font-weight: 400; color: #AAA; transition: color 0.5s ease 0s;}
.cid a:hover {color: #1cb5d8;}
.comment {margin-left: 50px; padding: 0 0 0 10px; margin-top: 2px; border-left: #1cb5d8 2px solid;}
.comment-details {margin-bottom: 5px;}
.comment-author {font-size: 1.3em;}
.comment-time {color: #888;}

p {margin-top: 1.25rem; margin-bottom: 1.25rem;}
.btn {display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle;}
.btn-default {padding: 0.5rem 1.875rem; color: #FFF; background-color: #1cb5d8; border-color: #1cb5d8; border-radius: 20px;
	text-decoration: none !important; transition: all 0.5s ease-out 0s;}
.btn-default:hover, .btn-default:focus {color: #FFF; background-color: #006281; border-color: #006281;}
.readmore {text-align: right; padding: 0.625rem 0.3125rem;}
.label {display: inline; padding: .2em .6em .3em; font-size: 85%; line-height: 1.8em; white-space: nowrap; vertical-align: baseline; border-radius: .25em;}
.label-default {color: #fff; background-color: #888;}

/*Adv*/
.a1 {}
.a2 {margin: 15px 0 30px;}

/* ---- Slick ---- */
/* Slider */
.slick-slider
{
    position: relative;
    padding-right: 40px; 

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list: focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track: before,
.slick-track: after
{
    display: table;

    content: '';
}
.slick-track: after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    overflow: hidden;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 2em;
    
    position: absolute;

    display: block;

    width: 40px;
    height: 200px;
    padding: 0;
    top: 0;

    cursor: pointer;

    color: #C1C2C4;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev
{
    left: 0;
}


.slick-next
{
    right: 0;
}

/* Dots */
.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button: hover,
.slick-dots li button: focus
{
    outline: none;
}
.slick-dots li button: hover: before,
.slick-dots li button: focus: before
{
    opacity: 1;
}
.slick-dots li button: before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button: before
{
    opacity: .75;
    color: black;
}
