html,body {height:100%; background-color:#f5f5f5; color:#444; font-family:Open Sans, sans-serif;}
a, a:hover,  a:active {color:#012D6C;}
img {vertical-align:top;}

/*Page layout*/
.container-fluid {
	margin-top:10px; margin-bottom:20px; min-width:600px; max-width:980px;
	background-color:#ffffff; box-shadow:0px 5px 10px rgba(0,0,0,0.2);}
.header {height:90px; padding:5px 0;}
.logo {}
.header-nav {margin:25px 10px 0 10px;}
.header-icon {border:1px solid #ccc; border-radius:5px;}
.navbar-form {margin:25px 20px 0 20px; padding:0;}
.categories-menu {padding:20px 0 20px 0; color:#ffffff; background-color:#A9A7A8;}
.categories a, .categories span {font-size:1.4em; padding:0 20px;}
.categories a, .categories a:hover, .categories a:active {color:#fff;}
.inactive-category {color:#ccc;}
.nav-tags {background-color:#7A797A;}
.nav-tags a {font-size:1.1em; line-height:2em;}
a.label-tag {}
a.label-tag-na {}
a.label-tag:hover, a.label-tag-na:hover {color:#555; border-color:#555;}
.blog-slider-cover {height:200px; background-color:#C1C2C4; padding:85px 15px;}
.blog-slider {height:200px; padding:0; background-color:#FCFAF3;}
.blog-slider-content {padding:0 40px 0 0; color:#848484;}
.blog-slider-img {margin:0 30px 0 0;}
.posts-slider-cover {height:180px; background-color:#DDE4EC; padding:20px 15px; cursor:pointer;}
.posts-slider {height:200px; padding:0; background-color:#FCFAF3;}
.posts-slider-content {padding:0 40px;}
.posts-slider .slick-slide {padding:5px 15px;}
.posts-slider-img {margin:0 20px 0;}
.posts-slider-date {}
.cover-title {text-align:center; font-size:1.6em; line-height:1em;}
.slider-prev::before, .slider-prev::after {
	content:''; position:absolute; right:12px; top:auto; margin-top:-15px;
	border:15px solid transparent; border-right:15px solid #A9A7A8;}
.slider-prev::after {border-right:15px solid #FCFAF3; right:10px;}
.slider-next::before, .slider-next::after {
	content:''; position:absolute; left:12px; top:auto; margin-top:-15px;
	border:15px solid transparent; border-left:15px solid #A9A7A8;}
.slider-next::after {border-left:15px solid #FCFAF3; left:10px;}
.content {}
.content-sidebar {padding:0;}
.footer {height:60px; padding:20px; text-align:center; color:#ffffff; background-color:#888;}

/*Content*/
.item {margin:0 0 40px 0; clear:left;}
.item-title {}
.title-decoration .dleft {width:30%; border-top:#C3CEE0 2px solid;}
.content-container td {vertical-align:top; padding:10px;}
.item-nav { 
	padding:10px; background:#EDEDED; 
	-moz-border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px;}
.label-video {
	padding:8px; line-height:32px; background:#EDEDED;
	-moz-border-radius:5px 5px 0 5px; -webkit-border-radius:5px 5px 0 5px; border-radius:5px 5px 0 5px;}
.thumb-video {margin:0 15px;}
.item-content ol, .post-content ol {list-style-type:none; counter-reset:num; }
.item-content li, .post-content li {
	margin:0 0 10px 0; padding:0 0 5px 10px;
	border-left:#DDE4EC 1px solid; border-bottom:#DDE4EC 1px solid; border-radius:0 0 0 5px;}
.item-content li::before, .post-content li::before {
	content:counter(num); counter-increment:num;
	padding:3px 5px; margin:0 5px 0 -28px; border-radius:3px 3px 0 3px; background:#DDE4EC;}
.pagination-container {text-align:center;}
.page-title {display:inline-block; position:relative; z-index:1; margin:40px 0; padding:5px 5px 5px 30px; font-size:3em;}
.page-title::before {content:""; position:absolute; left:0px; top:1px; width:45px; height:45px; z-index:-1; background:#C3CEE0 none repeat scroll 0% 0%;}
.marker, .comments-marker {
	display:inline-block; padding:5px 10px; font-size:1.8em; 
	background-color:#DDE4EC; border-radius:5px 5px 0 5px;}
.intro, .post-content {margin-bottom:20px;}
.post {margin-bottom:30px;}
.content-container h2, .post h3 {margin:20px 0;} 
.post a, #comments a {text-decoration:underline;}
.post-content {}
.content-image {margin-top:25px;}
.content-image img {display: inline-block; padding: 5px; border: 1px solid #ddd; border-radius: 4px;}
.readmore {text-align:right; padding:10px 0;}
.post-nav {
	padding:10px; background-color:#DDE4EC; 
	-moz-border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px;}
#comments {margin-bottom:30px;}
.comments-marker {background-color:#EDEDED;}
.comments-list {margin:30px 10px 10px 30px;}
.comments-list td {margin:20px 0;}
.comment-wrap {margin:20px 30px;}
.cid {
	display:inline-block; vertical-align:top; padding:3px 5px; font-size:1.1em; 
	border-radius:3px 3px 0 3px; background:#EDEDED;}
.comment {
	display:inline-block; padding:5px 10px; margin-top:2px; 
	border-left:#EDEDED 1px solid; border-bottom:#EDEDED 1px solid; border-radius:0 0 0 5px;}
.comment-details {padding:0 10px 10px;}
.comment-author {font-size:1.3em;}
.comment-time {color:#888;}
.cform {margin:20px 30px; clear:both;}
.control-label {display:block;}
#comment-verifycode {width:250px;}
#comment-verifycode {display:inline-block;}
#comment-verifycode-image {vertical-align:middle; margin-right:20px;}

/* ---- Slick ---- */
/* Slider */
.slick-slider
{
    position:relative;
    padding-right:40px; 

    display:block;

    -moz-box-sizing:border-box;
         box-sizing:border-box;

    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;

    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
        touch-action:pan-y;
    -webkit-tap-highlight-color:transparent;
}

.slick-list
{
    position:relative;

    display:block;
    overflow:hidden;

    margin:0;
    padding:0;
}
.slick-list:focus
{
    outline:none;
}
.slick-list.dragging
{
    cursor:pointer;
    cursor:hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform:translate3d(0, 0, 0);
       -moz-transform:translate3d(0, 0, 0);
        -ms-transform:translate3d(0, 0, 0);
         -o-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
}

.slick-track
{
    position:relative;
    top:0;
    left:0;

    display:block;
}
.slick-track:before,
.slick-track:after
{
    display:table;

    content:'';
}
.slick-track:after
{
    clear:both;
}
.slick-loading .slick-track
{
    visibility:hidden;
}

.slick-slide
{
    display:none;
    float:left;

    height:100%;
    min-height:1px;
}
[dir='rtl'] .slick-slide
{
    float:right;
}
.slick-slide img
{
    display:block;
}
.slick-slide.slick-loading img
{
    display:none;
}
.slick-slide.dragging img
{
    pointer-events:none;
}
.slick-initialized .slick-slide
{
    display:block;
    overflow:hidden;
}
.slick-loading .slick-slide
{
    visibility:hidden;
}
.slick-vertical .slick-slide
{
    display:block;

    height:auto;

    border:1px solid transparent;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size:2em;
    
    position:absolute;

    display:block;

    width:40px;
    height:200px;
    padding:0;
    top:0;

    cursor:pointer;

    color:#C1C2C4;
    border:none;
    outline:none;
    background:transparent;
}

.slick-prev
{
    left:0;
}


.slick-next
{
    right:0;
}

/* Dots */
.slick-dots
{
    position:absolute;
    bottom:-45px;

    display:block;

    width:100%;
    padding:0;

    list-style:none;

    text-align:center;
}
.slick-dots li
{
    position:relative;

    display:inline-block;

    width:20px;
    height:20px;
    margin:0 5px;
    padding:0;

    cursor:pointer;
}
.slick-dots li button
{
    font-size:0;
    line-height:0;

    display:block;

    width:20px;
    height:20px;
    padding:5px;

    cursor:pointer;

    color:transparent;
    border:0;
    outline:none;
    background:transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline:none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity:1;
}
.slick-dots li button:before
{
    font-family:'slick';
    font-size:6px;
    line-height:20px;

    position:absolute;
    top:0;
    left:0;

    width:20px;
    height:20px;

    content:'•';
    text-align:center;

    opacity:.25;
    color:black;

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity:.75;
    color:black;
}
